
.cart-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item-quantity {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .clear-cart-button {
    background-color: #bd3595;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .clear-cart-button:hover {
    background-color: #c88ab7;
  }
  